@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	justify-content: center;
}

section {
	width: 600px;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.05;
	text-align: left;
}

h2 {
	font-size: 3.5rem;
	line-height: 1.05;
	text-align: center;
}

p {
	font-size: 1.25rem;
	line-height: 1.2;
}

.title-block {
	width: 600px;
	height: 210px;
	background-color: rgb(102, 96, 221);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
	color: rgb(255, 255, 255);
}

.answer-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 16px 0 23px 0;
}

.answer-block {
	width: 286px;
	height: 286px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
	text-align: center;
	margin-bottom: 15px;
	overflow: hidden;
}

.answer-block img {
	width: 286px;
	height: 210px;
	object-fit: cover;
}

.result-block {
	width: 600px;
	text-align: center;
	justify-content: space-between;
	background-color: rgb(48, 25, 52);
	border-radius: 5px;
	color: rgb(255, 255, 255);
}

.result-block img {
	object-fit: cover;
	width: 600px;
}